CherryPy == 3.6.0
gensim == 0.12.4
Jinja2 == 2.7.3
nltk == 3.1
scipy == 0.17.1
regex == 2016.3.2
scikit-learn == 0.17.1
html5lib == 0.9999999
beautifulsoup4 == 4.4.1
Sphinx == 1.4
pytest == 2.9.1
sphinx-rtd-theme == 0.1.9
PyDictionary == 1.5.2
setuptools == 20.7.0
sphinxcontrib-seqdiag == 0.8.5
sphinxcontrib-actdiag == 0.8.5
pattern == 2.6
